.*
*~
*.swp
*.#*
*.o
data/*
.includepath
.project
.metadata/*
bin/*.sh
bin/*.cmd
bin/*
config/Settings.txt
config/FIGMODELConfig.txt
config/ModelSEEDbootstrap.pm
MFAToolkit/*
Model-SEED-core.*
Model-SEED-setup/*
logs/*
*.ilk
*.pdb
software/mfatoolkit/bin/*
software/cygwin/*
workspace/*
!.gitignore
blib*
Makefile
Makefile.old
Build
Build.bat
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
pod2htm*.tmp
ModelSeedCore-*
