[Database]
# type is either sqlite or mysql
type=sqlite

# required for sqlite
# filename=

# required for mysql
# username=
# password=
# host=
# socket=
# port=

[Optional]
# dataDirectory=
# admin_users=admin1,admin2

[Optimizers]
# includeDirectoryGLPK=
# libraryDirectoryGLPK=
# includeDirectoryCPLEX=
# libraryDirectoryCPLEX=
# licenceDirectoryCPLEX=
