[Database]
# type is either sqlite or mysql
type=mysql

# required for sqlite
# filename=

# required for mysql
username=root
#password=marcopolo
host=localhost
socket=/tmp/mysql.sock
port=3306

[Optional]
# dataDirectory=
# admin_users=admin1,admin2

[Optimizers]
includeDirectoryGLPK=/usr/local/include/
libraryDirectoryGLPK=/usr/local/lib/
# includeDirectoryCPLEX=
# libraryDirectoryCPLEX=
# licenceDirectoryCPLEX=
