[Database]
# type is either sqlite or mysql
type=sqlite

# required for sqlite
# filename=

# required for mysql
# username=
# password=
# host=
# socket=
# port=

[SeedAccount]
# Installation of Model SEED requires a SEED account, which can be registered here: http://pubseed.theseed.org/seedviewer.cgi?page=Register
# Once your account is registered, input your username here. You do not need to input your password here, but you will be prompted for your password during the configuration. 
# SeedUsername=
# SeedPassword=

[Optional]
# dataDirectory=

[Optimizers]
# includeDirectoryGLPK=
# libraryDirectoryGLPK=
# includeDirectoryCPLEX=
# libraryDirectoryCPLEX=
# licenceDirectoryCPLEX=
